.main-content__message-history__message-box{ "message-id": "#{message.id}"}
  %ul.upper-message
    %li.name
      = message.user.name
    %li.created_at
      = message.created_at
  .lower-message
    -if message.content.present?
      %p.lower-message__content
        = message.content
      = image_tag message.image.url, class: 'lower-message__image' if message.image.present?


