.contents

  = render 'shared/side_bar'


  .main-content
    .main-content__head-bar
      .main-content__head-bar__left-content
        %P Sampleグループ
        %ul.main-content__head-bar__left-content__group-members
          %li Member：
          - @users.each do |user|
            %li
              = user.name

      .main-content__head-bar__edit-btn Edit

    .main-content__message-history
      = render @messages


    .main-content__message-submit-box
      .form
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: 'main-content__message-submit-box__textarea', placeholder: 'type a message'
          = f.label :image, class: 'main-content__message-submit-box__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, style: 'display:none'
          = f.submit 'Send', class: 'main-content__message-submit-box__send'
