.contents

  .side-content
    .side-content__user-bar
      %ul
        %li.user-name
          = current_user.name
        %li
          = link_to new_group_path do
            %i.fa.fa-edit
        %li
          = link_to edit_user_path(current_user) do
            %i.fa.fa-cog

    - current_user.groups.each do |group|
      .side-content__group-bar
        = link_to group_messages_path(group) do
          .side-content__group-bar__group-name
            = group.name
          %p.side-content__group-bar__newest-message
            メッセージはまだありません。


  .main-content
    .main-content__head-bar
      .main-content__head-bar__left-content
        %P Sampleグループ
        %ul.main-content__head-bar__left-content__group-members
          %li Member：
          %li tanaka
          %li yamada
      .main-content__head-bar__edit-btn Edit

    .main-content__message-history
      .main-content__message-history__message-box
        %ul.message-box-contents
          %l.main-content__message-history__message-box__name yamada hanako
          %l.main-content__message-history__message-box__created_at 2018/05/12
          %p.main-content__message-history__message-box__text お腹空いた
      .main-content__message-history__message-box
        %ul.message-box-contents
          %l.main-content__message-history__message-box__name yamada hanako
          %l.main-content__message-history__message-box__created_at 2018/05/12
          %p.main-content__message-history__message-box__text 焼肉食いたい

    .main-content__message-submit-box
      .form
        %input.main-content__message-submit-box__textarea{:name=>"title", :placeholder=>"type a message"}
        %label.main-content__message-submit-box__image
          .i.fa.fa-image
          %input{:name=>"image", :type=>"file", :style=>"display:none"}
        %input.main-content__message-submit-box__send{:type=>"submit", :value=>"Send"}
